*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
     font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
   
}

/* common styles starts */
.purple-button{
   background-color: rgb(97, 31, 105);
   color: white;
   border-radius: 3px;
   border: 1px solid rgb(0, 0, 0);
   
}

.purple-button:hover{
    background-color: rgb(103, 101, 101);
    color: white;
}

.purple-button:active{
    background-color: rgb(0, 0, 0);
    color: white;
}

.empty-button{
    border-radius: 3px;
    border: 1px solid black;
}

.empty-button:hover{
   background-color: rgb(247, 245, 245);
}





/* common style ends  */



/* Navabar section starts  */

header{
    height: 10vh;
    margin-top: 10px;
}
nav a{
     color: black;
    text-decoration: none;
    padding: 0px  10px;
   
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;

}


.navdiv a{
    padding: 5px 10px;
}

.navdiv3 a{
    padding: 10px 10px;
    margin: 0 5px;
   
}



/* Navbar logo  */

.slack-logo{
    height: 25px;
    margin-bottom: -5px;
    width: 35px;
    
}

.salesforce-logo{
    height: 7px;
    width: 7px;
}

.navdiv p{
    font-size: 0.5rem;
    margin-left: 47px;
}

.navdiv1 span{
    font-size: 1.5rem;
    font-weight: bold;
}



.navdiv3 a:nth-child(4){
     text-transform: uppercase;
       
}

.navdiv3 a:nth-child(3){
   
    text-transform: uppercase;
}

.navdiv2{
    margin-left: -90px;
}


/* navbar ends  */


/* home main content starts  */

.home-main-content{
    height: 90vh;
    
}

.main-info{
    text-align: center;
    padding-top: 65px;
 
}

.main-info h1{
    font-size: 3rem;
    font-weight: bolder;
    
}
.main-info p{
    color: rgb(0, 0, 0,0.7);
    margin-top: 5px;
}
.main-info img{
    height: 40px;
}

.main-info a{
    text-decoration: none;
    padding: 10px 20px;
    
}

.get-started{
 margin-top: 40px;
}

.get-started a{
 padding: 20px 40px;
 text-transform: uppercase;
}


.main-info a:last-child{
    margin-left: 10px;
    border: 2px solid purple;
    color: black;
}

.partner-companies img{
    height: 27px;
    width: 52px;
    margin: 0 15px;
   
}
.partner-companies{
    margin-top: 65px;
    
}
.partner-companies p{
    display: inline-block;
    color: gray;
    font-size: 0.8rem;
}

/* homepage content one */

.homepage-section-1{
    height: 100vh;
}


details{
  display: inline-block;
}


/* footer starts */
footer{
    height: 30vh;
    background:linear-gradient(to right ,rgb(0,0,0,0.02),rgb(0,0,0,0.04),rgb(0,0,0,0.02))
    
}

.footer-1{
    height: 80%;
}
.footer-2{
    height: 20%;
    font-size: 0.8rem;
    font-weight: lighter;
    border-top: 1px solid black;
}







